[user]
    name = Niklas Sauter
    email = niklas@n1ks.net
[sendemail]
    smptserver = mail.n1ks.net
    smptuser = niklas@n1ks.net
    smptencryption = tls
    smptserverport = 587
[core]
    ignorecase = false
    pager = less -F -X
[pull]
    rebase = false
[status]
    short = true
[log]
    date = format:%Y-%m-%d %H:%M:%S %z (%A)
[alias]
    a = add
    c = commit
    d = diff
    l = log
    g = log --all --graph --decorate --oneline
    s = status
